<p>book-edit works!</p>

<!-- Reactive -->
<form [formGroup]="form">
  <label>
    <input type="text" title="isbn" formControlName="isbn" />
  </label>
  <label>
    <input type="text" title="title" formControlName="title" />
  </label>
</form>

<!-- Template driven -->
<form #myForm="ngForm" (ngSubmit)="updateBook(myForm.value)">
  <div>
    <label>
      <input
        type="text"
        title="isbn"
        name="isbn"
        [ngModel]="book.isbn | appIsbn"
        readonly
      />
    </label>
  </div>
  <div>
    <label>
      <input
        type="text"
        title="title"
        name="title"
        [(ngModel)]="book.title"
        [ngModelOptions]="{ updateOn: 'blur' }"
        required
        minlength="2"
        #myTitle="ngModel"
      />
    </label>
    <pre><code>{{ myTitle.errors | json }}</code></pre>
  </div>
  <div>
    <button type="submit" [disabled]="myForm.invalid">Abschicken</button>
  </div>
</form>

<pre><code>{{ book | json }}</code></pre>
